@media (min-width: 960px) {
    .container {
        max-width: 900px;
    }
}

@media (min-width: 1264px) {
    .container {
        max-width: 1185px;
    }
}

.container {
    width: 100%;
    padding: 12px;
    margin-right: auto;
    margin-left: auto;
}
