.link {
    font-size: $s-size;
    text-decoration: underline !important;
    margin-bottom: 20px;
    color: var(--secondary-color) !important;
    &:hover {
        opacity: 0.7;
    }
}

@include mobile-device {
    .link {
        margin-bottom: 0;
    }

    .mobile_hidden {
        visibility: hidden;
    }
}
