.wallet_sidebar {
    margin-top: 0px !important;
    .stick {
        background-color: var(--sidebar-background);
        display: flex;
        flex-direction: column;
        height: 100%;
        border-right: var(--primary-border);
        box-shadow: var(--box-shadow);
    }
    .alert_icon {
        color: #f00;
        flex-grow: 1;
        justify-content: flex-end;
    }

    .brand {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 80%;
            object-fit: contain;
        }
    }

    .links {
        padding: 0px 10px;
        display: flex;
        flex-direction: column;

        a {
            opacity: 0.6;
            color: var(--sidebar-links);
            text-decoration: none;
            border-radius: var(--border-radius-lg);

            .v-icon {
                opacity: 0.5;
            }
        }

        .wallet_link {
            display: flex;
            align-items: center;
            padding: 14px 10px;
            white-space: nowrap;
            .v-icon {
                color: var(--icon-color);
                margin-right: 15px;
            }
        }

        a.router-link-exact-active {
            color: var(--primary-color) !important;
            opacity: 1;
            background-color: var(--bg-wallet);

            .v-icon {
                opacity: 1;
            }
        }

        // img {
        //     width: 20px;
        //     margin-right: 15px;
        //     object-fit: contain;
        // }
    }
}
.wallet_export {
    span {
        display: block;
        margin-right: 15px;
        width: 20px;
    }
}
.bottom {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 30px;

    > * {
        //     display: grid;
        //     padding: 0px 24px;
        padding-bottom: 24px;
    }
}

.sidebar_bottom {
    padding: 14px 24px;
    button:not(:last-of-type) {
        margin-bottom: 8px;
    }
    button:not(:first-of-type) {
        margin-top: 16px;
    }
}

@include medium-device {
    .bottom {
        font-size: 12px;
        //     > * {
        //         display: grid;
        //         padding: 8px 8px;
        //     }
    }
    .success_button {
        .v-icon {
            font-size: 20px;
        }
    }
    .wallet_link {
        .v-icon {
            font-size: 20px !important;
        }
    }
}

@include medium-device {
    .brand {
        height: 90px;
    }
    .links {
        font-size: 15px;
    }
}
