video {
    outline: none;
}

button {
    outline: none !important;
}

textarea,
input {
    @include highlight-border;

    &[disabled] {
        border-color: transparent !important;
    }
}

select {
    border-radius: var(--border-radius-sm) !important;
}

input[type='number'] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    -moz-appearance: textfield;
}

label {
    margin-bottom: initial !important;
}

h1 {
    color: var(--primary-color);
}

h1,
h2,
h3,
h4 {
    font-family: 'Rubik', sans-serif;
}

textarea {
    color: var(--primary-color);
    background-color: var(--bg-wallet);
    border-radius: var(--border-radius-sm);
}

*[tooltip]:hover:before {
    border-radius: var(--border-radius-sm);
    /*left: 0;*/
    left: 0;
    transform: translateX(-50%);
    content: attr(tooltip);
    position: absolute;
    background-color: var(--tooltip-bg);
    bottom: 100%;
    color: #fff;
    width: max-content;
    max-width: 100px;
    font-size: 14px;
    padding: 4px 8px;
    margin-bottom: 4px;
}

@include medium-device {
    h1 {
        font-size: 25px;
    }
}

.hover_border {
    @include highlight-border;
    border-radius: var(--border-radius-sm);

    &[disabled] {
        border-color: transparent !important;
    }
}
/* For vue transitions */

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.float-enter-active,
.float-leave-active {
    transition: all 0.2s;
}

.float-enter,
.float-leave-to

/* .fade-leave-active below version 2.1.8 */ {
    transform: translateY(30px);
}

.slide_right-enter-active,
.slide_right-leave-active {
    transition: all 0.2s;
}

.slide_right-enter,
.slide_right-leave-to

/* .fade-leave-active below version 2.1.8 */ {
    transform: translateX(30px);
    opacity: 0;
}

.slide_bottom-enter-active,
.slide_bottom-leave-active {
    transition: opacity 0.2s;
}

.slide_bottom-enter,
.slide_bottom-leave-to

/* .fade-leave-active below version 2.1.8 */ {
    transform: translateY(100%);
    opacity: 0;
}

.shrink-enter-active,
.shrink-leave-active {
    transition: opacity 0.2s;
}

.shrink-enter,
.shrink-leave-to

/* .fade-leave-active below version 2.1.8 */ {
    transform: translateX(100%);
    opacity: 0;
}

.no_scroll_bar {
    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
