p.err {
    color: var(--error);
    font-size: 0.9rem;
    margin: 4px 0;
    white-space: normal;
}

.v-messages {
    color: var(--primary-color) !important;
}

.subtext {
    color: var(--primary-color-light);
    font-size: 0.8em;
}
