// img size: 89px   // 319
$img-size: 89px;
$xl-size: 53.76px; // 192 (resized)
$l-size: 25.2px; // 90
$m-size: 21.28px; // 76
$s-size: 14px; // 50

$vertical-padding-mobile: 30px;
$container-padding-mobile: 15px;

$img-size-mobile: 77.88px;
$xl-size-mobile: 36px;
$l-size-mobile: 22px;
$m-size-mobile: 18px;
$s-size-mobile: 14px;

p.err {
    color: var(--error);
    font-size: 0.9rem;
    margin: 4px 0;
    white-space: normal;
}

.v-messages {
    color: var(--primary-color) !important;
}

.subtext {
    color: var(--primary-color-light);
    font-size: 0.8em;
}
