.nft_card {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--bg-light);
}

$countW: 28px;
.count {
    position: absolute;
    top: -$countW/3;
    right: -$countW/3;
    width: $countW;
    height: $countW;
    border-radius: $countW;
    line-height: $countW;
    font-size: 12px;
    text-align: center;
    background-color: var(--primary-color);
    //border: 1px solid var(--bg-wallet);
    color: var(--bg);
    font-weight: bold;
    z-index: 2;
}

.view {
    width: 100%;
    height: 240px;
}

.generic_nft_meta {
    //border-top: 2px solid var(--bg-light);
    padding-top: 0 !important;

    .nft_title {
        font-weight: bold;
    }
}
.nft_info {
    border-top: 2px solid var(--bg-light);
    font-size: 12px;

    > * {
        padding: 8px 12px;
    }

    .meta_bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .nft_button {
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }

        > div {
            display: flex;
            flex-direction: row;
        }

        p,
        button {
            opacity: 0.5;
        }

        button,
        .nft_button {
            margin: 0px 4px;
        }

        button:hover {
            opacity: 1;
        }
    }
}
