.menu_option {
    background-color: var(--bg-light) !important;
    color: var(--primary) !important;
    padding: 16px;
    margin: 5px 0;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-lg);

    p {
        flex-grow: 1;
        text-align: left;
        padding: 0 1em;
    }

    &:hover {
        opacity: 0.6;
    }
}
