@use './variables';

@mixin mobile-device {
    @media only screen and (max-width: variables.$mobile_width) {
        @content;
    }
}

@mixin medium-device {
    @media only screen and (min-width: variables.$mobile_width) and (max-width: variables.$width_m) {
        @content;
    }
}

@mixin large-device {
    @media only screen and (min-width: 960px) and (max-width: 1200px) {
        @content;
    }
}

@mixin xl-device {
    @media only screen and (min-width: 1200px) and (max-width: 1600px) {
        @content;
    }
}

@mixin largest-device {
    @media only screen and (min-width: 1600px) {
        @content;
    }
}

@mixin night-mode {
    html[data-theme='night'] {
        @content;
    }
}

@mixin highlight-border {
    transition-duration: 0.1s;
    border: 1px solid transparent;
    outline: none !important;
    border-radius: var(--border-radius-sm);

    &:hover {
        border-color: var(--primary-color-light);
    }

    &:focus-within {
        border-color: var(--selection-color);
    }
}

@mixin component-wrapper {
    border: var(--primary-border);
    border-radius: var(--border-radius-lg);
    box-shadow: var(--box-shadow);
}
