:root {
    --border-radius-lg: 12px;
    --border-radius-sm: 7px;
    --primary-btn-border-color: #149ded;
    --secondary-color: #149ded;
    --primary-border: solid 1px var(--primary-border-color);
    --secondary-border: solid 1px var(--secondary-border-color);
    --box-shadow: rgb(0 0 0 / 10%) 0px 0px 5px;
    --tooltip-bg: rgba(51, 65, 85, 0.92);
}

html[data-theme='day'] {
    --bg: #f1f5f9;
    --bg-1: 255, 255, 255;
    --bg-light: #e2e8f0;
    --bg-light-1: 245, 246, 250;
    --primary-color: #0f172a;
    --primary-color-light: #757575;
    --selection-color: #6a91d8;
    --link-secondary: #6e7479;
    --error: #c23f38;
    --success: #6bc688;
    --info: #2c7490;
    --info-1: 44, 116, 144;
    --bg-wallet: #f5f6fa;
    --warning: #f19d38;
    --bg-wallet-light: #ffffff;
    --primary-border-color: rgba(203, 213, 225, 0.12);
    --secondary-border-color: #e2e8f0;
    --disabled-color: #e2e8f0;
    --primary-contrast-text: #0f172a;
    --secondary-contrast-text: #ffffff;
    --sidebar-links: #64748b;
    --sidebar-background: #fff;
    --icon-color: #0f172a;
    --icon-color-light: #334155;
}

html[data-theme='night'] {
    --bg: #0f172a;
    --bg-1: 36, 39, 41;
    --bg-light: #1e293b;
    --bg-light-1: 46, 50, 52;
    --primary-color: #f5f5f5;
    --primary-color-light: #6e7479;
    --selection-color: #6a91d8;
    --link-secondary: #6e7479;
    --error: #c23f38;
    --success: #6bc688;
    --info: #4c8caf;
    --info-1: 76, 140, 175;
    --bg-wallet: #334155;
    --warning: #f19d38;
    --bg-wallet-light: #0f172a;
    --primary-border-color: rgba(255, 255, 255, 0.12);
    --secondary-border-color: rgba(255, 255, 255, 0.12);
    --disabled-color: rgba(255, 255, 255, 0.12);
    --primary-contrast-text: #ffffff;
    --secondary-contrast-text: #0f172a;
    --sidebar-links: #64748b;
    --sidebar-background: #1e293b;
    --icon-color: #ffffff;
    --icon-color--light: #ffffff;
}

$mobile_width: 900px;
$width_s: 1300px;
$width_m: 1300px;

$container_padding_l: 30px 18vw;
$container_padding_m: 30px 160px;
$container_padding_s: 30px 3vw;
$container_padding_mobile: 10px 10px;

$vertical-padding: 40px;
$container-padding: 40px;

$purple: #4c2e56;
$purple-light: #867e89;
$pink: #e84970;
$pink-light: #ff8080;
$pink-extra-light: #ffe6e6;
$gray: #f5f6fa;
$white: #fff;
$green: #6bc688;
$green-light: #83f2a6;
$green-extra-light: #a9efbf;

$primary-color: $purple;
$primary-color-light: $purple-light;
$secondary-color: $pink;
$secondary-color-light: $pink-light;
$secondary-color-extra-light: $pink-extra-light;
$background-color: $gray;
