.wallet_view {
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 200px 1fr 300px;
    column-gap: 15px;
    min-height: 100%;
    background-color: var(--bg);
}

.sidenav {
    background-color: var(--bg-light);
    margin-top: 8px;
}

.panel {
    overflow: hidden;
}

.wallet_main {
    // display: grid;
    // grid-template-rows: max-content 1fr;
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    padding-top: 8px;
    height: 100%;
    padding-bottom: 8px;
    @include mobile-device {
        padding-bottom: 0px !important;
    }
}

#wallet_router {
    @include component-wrapper;
    padding: 22px 20px;
    background-color: var(--bg-wallet-light);
    overflow: scroll;
    flex: 1;
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.page_fade-enter-active,
.page_fade-leave-active {
    transition: all 0.2s;
}
.page_fade-enter, .page_fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateY(30px);
}

@include mobile-device {
    .wallet_view {
        display: block;
        column-gap: 9px;
    }
    .wallet_main {
        grid-gap: 9px;
        padding-top: 0;
        height: unset;
    }

    .wallet_sidebar {
        display: none;
    }
}

@include medium-device {
    .wallet_view {
        grid-template-columns: 180px 1fr 240px !important;
        column-gap: 9px;
    }

    .wallet_main {
        grid-gap: 9px;
    }

    #wallet_router {
        padding: 12px 18px;
    }
}
