$purple: #4C2E56;
$purple-light: #867E89;
$pink: #E84970;
$pink-light: #FF8080;
$pink-extra-light: #ffe6e6;
$gray: #F5F6FA;
$white: #FFF;
$green: #6BC688;
$green-light: #83f2a6;
$green-extra-light: #a9efbf;

$primary-color: $purple;
$primary-color-light: $purple-light;
$secondary-color: $pink;
$secondary-color-light: $pink-light;
$secondary-color-extra-light: $pink-extra-light;
$background-color: $gray;