$purple: #4c2e56;
$purple-light: #867e89;
$pink: #e84970;
$pink-light: #ff8080;
$pink-extra-light: #ffe6e6;
$gray: #f5f6fa;
$white: #fff;
$green: #6bc688;
$info: #008dc5;
$green-light: #83f2a6;
$green-extra-light: #a9efbf;

$primary-color: $purple;
$primary-color-light: $purple-light;
$secondary-color: $pink;
$secondary-color-light: $pink-light;
$secondary-color-extra-light: $pink-extra-light;
$background-color: $gray;
