$purple: #4c2e56;
$purple-light: #867e89;
$pink: #e84970;
$pink-light: #ff8080;
$pink-extra-light: #ffe6e6;
$gray: #f5f6fa;
$white: #fff;
$green: #6bc688;
$green-light: #83f2a6;
$green-extra-light: #a9efbf;

$primary-color: $purple;
$primary-color-light: $purple-light;
$secondary-color: $pink;
$secondary-color-light: $pink-light;
$secondary-color-extra-light: $pink-extra-light;
$background-color: $gray;

hr {
    color: #f5f6fa;
    border-color: #f5f6fa;
    border: none;
    border-top: 1px solid;
    margin: 10px 0;
}

a {
    color: #4c2e56 !important;
    text-decoration: none !important;
}

.but_primary {
    background-color: #4c2e56;
    color: #fff !important;
    text-transform: none !important;
    /*font-size: 13px;*/
    padding: 8px 18px;
    border-radius: 2px;

    &:disabled {
        color: $purple-light !important;
        background-color: $gray !important;
    }
}

.ava_button {
    color: $white !important;
}

.ava_button_secondary {
    color: $primary-color !important;
}

.link {
    color: $primary-color-light !important;
}
