//@import 'node_modules/bootstrap/scss/bootstrap';
//@import 'node_modules/bootstrap-vue/src/index.scss';

//@import "node_modules/bootstrap/scss/variables.scss";
//@import "node_modules/bootstrap/scss/mixins.scss";
//@import "node_modules/bootstrap/scss/reboot";

//@import "node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "node_modules/bootstrap/scss/bootstrap-grid.scss";
//@import "node_modules/bootstrap/scss/grid";

//@import "node_modules/bootstrap-vue/src/variables";
//@import "node_modules/bootstrap-vue/src/mixins";
//@import "node_modules/bootstrap-vue/src/";





$mobile_width: 900px;
$width_s: 1300px;
$width_m: 1300px;

$container_padding_l: 30px 18vw;
$container_padding_m: 30px 160px;
$container_padding_s: 30px 3vw;
$container_padding_mobile: 10px 10px;

@mixin mobile-device {
  @media only screen and (max-width: $mobile_width) { @content; }
}

@mixin medium-device {
  @media only screen and (min-width: $mobile_width) and (max-width: $width_m) { @content; }
}

@mixin night-mode {
  #app[night_mode=""]{
    @content
  }
}

$purple: #4C2E56;
$purple-light: #867E89;
$pink: #E84970;
$pink-light: #FF8080;
$pink-extra-light: #ffe6e6;
$gray: #F5F6FA;
$white: #FFF;
$green: #6BC688;

$primary-color: $purple;
$primary-color-light: $purple-light;
$secondary-color: $pink;
$secondary-color-light: $pink-light;
$secondary-color-extra-light: $pink-extra-light;
$background-color: $gray;

/* ==========================================
   font sizes inferred from Figma
   ========================================== */

$vertical-padding: 40px;
$container-padding: 40px;

// img size: 89px   // 319
$img-size: 89px;
$xl-size: 53.76px;  // 192 (resized)
$l-size: 25.2px;    // 90
$m-size: 21.28px;   // 76
$s-size: 14px;      // 50

$vertical-padding-mobile: 30px;
$container-padding-mobile: 15px;

$img-size-mobile: 77.88px;
$xl-size-mobile: 36px;
$l-size-mobile: 22px;
$m-size-mobile: 18px;
$s-size-mobile: 14px;

hr {
  color: #F5F6FA;
  border-color: #F5F6FA;
  border: none;
  border-top: 1px solid;
  margin: 10px 0;
}


*[tooltip]:hover:before {
  border-radius: 4px;
  /*left: 0;*/
  left: 0;
  transform: translateX(-50%);
  content: attr(tooltip);
  position: absolute;
  background-color: #303030;
  bottom: 100%;
  color: #ddd;
  width: max-content;
  max-width: 100px;
  font-size: 14px;
  padding: 4px 8px;
}



button, textarea, input{
  outline: none !important;
}

a {
  color: #4C2E56 !important;
  text-decoration: none !important;
}

.but_primary {
  background-color: #4C2E56;
  color: #fff !important;
  text-transform: none !important;
  /*font-size: 13px;*/
  padding: 8px 18px;
  border-radius: 2px;
}

label{
  margin-bottom: initial !important;
}


#app[night_mode=""] {
  background-color: #4C2E56;


  a, p, h1, h2, h4 {
    color: #fff !important;
  }


  .but_primary {
    background-color: #fff !important;
    color: #4C2E56 !important;
  }
}

//*[tooltip]:hover{
//  position: relative;
//  &:before{
//    font-size: 12px;
//    content: attr(tooltip);
//    background-color: #4C2E56;
//    color: #fff;
//    position: absolute;
//    left: 0px;
//    height: max-content;
//    top: 0px;
//  }
//}

/* For vue transitions */

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


.float-enter-active, .float-leave-active {
  transition: all .2s;
}
.float-enter, .float-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: translateY(30px);
}


.slide_right-enter-active, .slide_right-leave-active {
  transition: opacity .2s;
}
.slide_right-enter, .slide_right-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: translateX(100%);
  opacity: 0;
}

.slide_bottom-enter-active, .slide_bottom-leave-active {
  transition: opacity .2s;
}
.slide_bottom-enter, .slide_bottom-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: translateY(100%);
  opacity: 0;
}


.shrink-enter-active, .shrink-leave-active {
  transition: opacity .2s;
}
.shrink-enter, .shrink-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: translateX(100%);
  opacity: 0;
}

/* ==========================================
   global UI
   ========================================== */

.ava_button {
    color: $white !important;
    padding: 10px 24px;
    min-width: 140px;
    border-radius: 6px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase !important;
    font-size: $s-size;

    &:hover {
        opacity: 0.7;
    }

    &[disabled]{
      opacity: 0.4;
    }
}

.link {
    font-size: $s-size;
    color: $primary-color-light !important;
    text-decoration: underline !important;
    margin-bottom: 20px;

    &:hover {
      opacity: 0.7;
    }
}

@include mobile-device {
  .link {
    margin-bottom: 0;
  } 
}