name: CI

on:
  push:

env:
  CI: true

jobs:
  Build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [15]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          cache: yarn
          node-version: ${{ matrix.node-version }}
      - name: Prepare dev dependencies
        run: scripts/dependencies.sh
      - run: yarn install
      - run: yarn lint